eccentricity-expansion-fname = /work/08402/vortebo/ls6/eccentricity_expansion_coef_O400.sqlite
stellar-evolution-interpolator-dir = /home1/08402/vortebo/codebase/poet/stellar_evolution_interpolators
eccentricity-expansion-coefficients = /work/08402/vortebo/ls6/eccentricity_expansion_coef_O400.sqlite

#std-out-err-fname = /work/08402/vortebo/ls6/sampling_output/{task}/{system}_{now}_{pid:d}.outerr
#logging-fname = /work/08402/vortebo/ls6/sampling_output/{task}/{system}_{now}_{pid:d}.log
std-out-err-fname = /work/08402/vortebo/ls6/output/W19/sampling_output/{system}/{task}/{now}_{pid:d}.outerr
logging-fname = /work/08402/vortebo/ls6/output/W19/sampling_output/{system}/{task}/{now}_{pid:d}.log
samples-fname = /work/08402/vortebo/ls6/output/W19/samples/%(system)s_%(sampling)s_powerlawlgQ_samples
#samples-fname = /home1/08402/vortebo/samples/%(system)s_%(sampling)s_powerlawlgQ_samples
nn-data-dir = /work/08402/vortebo/ls6/output/W19/nn_data
sampling = mcmc
num-parallel-processes = 16
mcmc-nsteps = 100

logging-verbosity = debug

initial-obliquity = 0.0
disk-dissipation-age = [20, 20]

lgQ-break-period = [0.5, 50.0]
lgQ-powerlaw = [-5.0, 5.0]
